@charset "utf-8";
/* CSS Document */

.hamburgerArea {
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	position: fixed;
}
.hamburger {
	background-color: #a69425;
	border-color: transparent;
	z-index: 9999;
	transition: 0.4s background-color ease;
}
.hamburger:hover {
	background-color: #73388C;
}
.hamburger span {
	width: 100%;
	height: 1px;
	background-color: #ffe438;
	position: relative;
	transition: 0.4s all ease ;
	display: block;
}
.hamburger span:nth-child(1) {
	top: 0;
}
.hamburger span:nth-child(2) {
	margin: 8px 0;
}
.hamburger span:nth-child(3) {
	top: 0;
}
/* ハンバーガーメニュークリック後のスタイル */

.header__nav.active {
	transform: translateX(0);
}
.hamburger.active span:nth-child(1) {
	top: 5px;
	transform: rotate(45deg);
}
.hamburger.active span:nth-child(2) {
	right: -10px;
	opacity: 0;
}
.hamburger.active span:nth-child(3) {
	top: -13px;
	transform: rotate(-45deg);
}
@media screen and (min-width: 1000px) {
	.hamburger {
		display: none;
	}
}